body{
    background: #eee;
    transition: all .3s;
   }


  .containersb{
    height: 55px;
  }
  
   .bg-light{
    height: 95px;
    background-color: #fff!important;
   }
   .pt-4 {
    background-color: #fff;
   }
   
   .brand img{
    width: 175px;
    
   }

   hr.h-color{
     background: #eee;
   }
  

   

   
