body{
    background: #eee;
    transition: all .3s;
   }
body::-webkit-scrollbar{
  width: 12px;
  
}
body::-webkit-scrollbar-thumb {
  color: #5a2073;
  background-color: #5a2073;
  border-radius: 10px;
  border-right: 2px solid;
}

  .containersb{
    height: 55px;
  }
  
   .bg-light{
    height: 95px;
    background-color: #fff!important;
   }
   .pt-4 {
    background-color: #fff;
   }
   
   .brand img{
    width: 175px;
    
   }

   hr.h-color{
     background: #eee;
   }
  

   

   
