.nav1{
    background-color: rgb(174, 144, 202);
    padding: 1em;
}
.container1{
    margin-left: 20%;
    margin-right: 20%;
}
.container {
    max-width: auto;
}

.nav2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img {
    width: 12em;
    height: 12em;
}

.img img{
    width: 12em;
    height: 12em;
}

.lorem {
    display: flex;
    padding: 1em;
    margin: 0;
flex-wrap: wrap;
}
.n{
    color: wheat;
   
    text-decoration: none;
    width: 200px;
}

.n:hover{
    color: #F2F2F2;
    background-color: rgba(107, 82, 82, 0.438);
    border-radius: 0.5em;
}

.as h1{
    text-align: center;
}

.sub {
    margin-left: 5em;
    margin-right: 5em;
}
.sub h3{
    text-align: center;
}
.main {
    display: flex;
    background-color: rgba(0, 59, 253, 0.281);
}

.card {
    

}
.ps{
    text-align: center;
}
.btn-primary {
    color: white;
    background-color: #8141b6;
}

.imga img{
    width: 15em;
}

.separador{
    display: flex;
    justify-content: space-evenly;
}