body{
    background: #eee;
    transition: all .3s;
   }

   body::after{
    content: '';
    width:100%;
    height: 100%;
    position: fixed;
    top: -100vw;
    left: 0;
    background: #fff;
    transition: all .3s;
  }
  .navbarsb{
    position: sticky;
    top: 0;
  }
  .navbar-expand-lg .navbar-collapse{
    height: 0;
  }

  .containersb{
    height: 55px;
  }
  
  
   
   .bg-light{
    height: 80px;
   }
   .pt-4 {
    background-color: #fff;
   }
   
   .brand img{
    width: 175px;
    
   }
   .buscar{
    position: absolute;
    padding: 5px;
   }
   .buscar input{
    width: 240px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
   }

 

   #side_nav{
    background: #e2cee59e;
    min-width: 2rgba(226, 206, 229, 0.646);
    max-width: 250px;
    transition: all 0.3s;
   }



   .content{
      min-height: 100vh;
      width: 100%;
   }
   hr.h-color{
     background: #eee;
   }
  
   .sidebar li.active :hover{
    box-shadow:0 30px 18px -8px rgba(0,0,0,0.1)!important;
        transform:scale(1.10,1.10)!important
    }
   
   .sidebar li.active :hover{
      
      background: #eee;
      border-radius: 8px;
      transition: all .2s;
      border-radius: 14px;
   }
   
   .sidebar li.active a, .sidebar li.active a:hover {
    color: #000;
    height: 3.9pc;
   }
   .sidebar li a{
    color: #000;
   }
   
   @media(max-width: 767px){
    #side_nav{
      margin-left: -250px;
      position: absolute;
      min-height: 100vh;
      z-index: 1;
   
    }
    #side_nav.active{
      margin-left: 0;
     }
    
     .loading{
      opacity: 0;
     }

   }